**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.plan

.terraform.lock.hcl

.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
*.log

node_modules/
dist/
build/
.cache/
*.map

site/dist/
site/build/

#
.vscode/
